{% extends "layout/base.html" %}

{%block content%}
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        </br>
          <p class="lead py-0">Research Logbook</p>
          <div class="student">
          <p style="font-size: 90%;" class="lead py-0">Research Type: {{ research.research_type_name }}
          <br>Topic: {{ research.topic }}</p></div>
          <div class="supervisor">
          <p style="font-size: 90%; text-transform: capitalize;" class="lead py-0">Student Name: {{ research.name }}
              <br>Degree: {{ research.degree }}
              <br>Research Type: {{ research.research_type_name }}
              <br>Topic: {{ research.topic }}</p></div>
          <div class="student">
          <a href="{% url 'logbook:add-form' %}" style="font-size: 90%" class="btn btn-outline-primary">Add Entry</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead> </thead>
            <tbody>
              <tr>
                  <th>Date</th>
                  <th>Location</th>
                  <th>Summary</th>
                  <th>Plan</th>
                  <th><div class="student">Status</div></th>
              </tr>
              {% for data in logbook %}
              <tr>
                  <td>{{ data.datetime }}</td>
                  <td>{{ data.location }}</td>
                  <td>{{ data.summary }}</td>
                  <td>{{ data.plan }}</td>
                  <td>
                      <div class="student">{{ data.status }}</div>
                      <div class="supervisor"><button id="{{ data.logbook_id }}" data-status="{{ data.status }}" onClick=approve({{ data.logbook_id }}) style="font-size: 90%" class="btn btn-outline-primary approve-button">Approve</button></div>
                  </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<script>

// Show div html based on role
var role = "{{ request.session.role }}";
console.log(role)
if (role === "supervisor"){
    $("div.supervisor").show();
} else if (role === "student"){
    $("div.student").show();
}

$(".approve-button").each(function(index) {
  if ($(this).attr("data-status") === "approved"){
      $(this).prop("disabled", true);
  }
});

var approve = function(id) {
    $.ajax({
        method: "POST",
        url: "{% url 'logbook:approve' %}",
        data: {id: id},
        dataType: 'json',
        success : function (response) {
            alert("Approved.");
            $("#" + id).prop("disabled", true);
        },
        error : function (error) {
            alert(error.responseText);
        }
    });
}
</script>
{% endblock %}
