{% extends "layout/base.html" %}

{%block content%}
<div class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      </br>
        <p class="lead py-0">Add Logbook Entry</p>
        <form id="add-entry" action="#">
            <label for="field_date">Date:</label>
            <input id="field_date" type="date" name="date" class="form-control"/>
            <label for="field_location">Location:</label>
            <input id="field_location" type="text" name="location" class="form-control"/>
            <label for="field_summary">Summary:</label>
            <input id="field_summary" type="text" name="summary" class="form-control"/>
            <label for="field_plan">Plan:</label>
            <input id="field_plan" type="text" name="plan" class="form-control"/><br>
            <button style="font-size: 90%" class="submit btn btn-outline-primary" type="submit">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>

var addEntry = function(date, loc, summary, plan) {
    console.log("Here?")
    $.ajax({
        method: "POST",
        url: "{% url 'logbook:add' %}",
        data: {date: date, loc: loc, summary: summary, plan: plan},
        success : function (response) {
            window.location.href = response.redirect_url;
        },
        error : function (error) {
            alert(error.responseText);
        }
    });
};

$("#add-entry").on("submit", function (event) {
   date = $("#field_date").val()
   location_ = $("#field_location").val()
   summary = $("#field_summary").val()
   plan = $("#field_plan").val()

   if(date === "" || location_ === "" || summary === "" || plan === "") {
       alert("Field cannot be empty.");
       return false;
   }

   addEntry(date, location_, summary, plan)
   event.preventDefault();
});

</script>

{% endblock %}
