{% extends "layout/base.html" %}
{% block content %}
<div class="py-5 text-center bg-light bg-gradient filter-dark cover">
<div class="py-5 mx-auto w-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <form action="{% url 'login:check_data' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username"> SSO Username </label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
                </div>
                <div class="form-group">
					          <label for="password"> SSO Password </label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
    </div></div>

{% endblock %}
