{% extends "layout/base.html" %}

{%block content%}
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        </br>
          <p class="lead py-0">Approved Research</p>
        </div>
      </div>
    </div>
  </div>
  <div class="px-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead> </thead>
            <tbody id="content">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<script>
  // Show div html based on role
var role = "{{ request.session.role }}";

console.log(role)
if (role === "student"){
    $("#content").html(
        "{% for data in approved %}"
        + "<tr><td>Research Type: {{ data.research_type_name }}<br/>"
        + "Topic: {{ data.topic }}<br/>"
        + "Supervisor: {{ data.name }}</td>"
        + "<td id='logbook-button' class='d-flex justify-content-end'>"
        + "<div class='student'><button onClick=logbook({{ data.research_id }}) style='font-size: 90%'' class='btn btn-outline-primary'>Logbook</button></div>"
        + "<div class='supervisor'><button onClick=logbook({{ data.research_id }}) style='font-size: 90%'' class='btn btn-outline-primary'>Logbook</button></div>"
        + "</td></tr>{% endfor %}"
    )
    $("div.student").show();
    console.log("jalan student astaga")
} else if (role === "supervisor"){
    $("#content").html(
        "{% for data in approved %}"
        + "<tr><td style='text-transform: capitalize'>Student Name: {{ data.name }}<br/>"
        + "Degree: {{ data.degree }}<br/>"
        + "Research Type: {{ data.research_type_name }}<br/>"
        + "Topic: {{ data.topic }}"
        + "<td id='logbook-button' class='d-flex justify-content-end'>"
        + "<div class='student'><button onClick=logbook({{ data.research_id }}) style='font-size: 90%'' class='btn btn-outline-primary'>Logbook</button></div>"
        + "<div class='supervisor'><button onClick=logbook({{ data.research_id }}) style='font-size: 90%'' class='btn btn-outline-primary'>Logbook</button></div>"
        + "</td></tr>{% endfor %}"
    )
    $("div.supervisor").show();
    console.log("jalan super astaga")
} else if (role === "head_study_program"){
    $("#content").html(
        "{% for data in approved %}"
        + "<tr><td style='text-transform: capitalize'>Student Name: {{ data.student_name }}<br/>"
        + "Degree: {{ data.degree }}<br/>"
        + "Research Type: {{ data.research_type_name }}<br/>"
        + "Topic: {{ data.topic }}<br/>"
        + "Supervisor: {{ data.super_name }}</td>"
        + "</tr>{% endfor %}"
    )
    console.log("jalan head astaga")
}

var logbook = function(id) {
    $.ajax({
        method: "POST",
        url: "{% url 'logbook:view' %}",
        data: {id: id},
        dataType: 'json',
        success : function (response) {
             window.location.href = response.redirect_url;
        },
        error : function (error) {
            alert(error.responseText);
        }
    });
}

</script>
{% endblock %}
