<!-- templates/lab_5/partials/footer.html -->
<!-- TODO, CREATE THIS FILE AND ADD copyright symbol -->
</br>
<p style='font-size: 80%'>Made by Bagus, Danaz, Aghnia</p>

<style>
footer p {
    padding-top: 0px;
    padding-bottom: 30px;
    bottom:0px;
    margin: 0 auto
    position: absolute;
    text-align: center;
    flex: 0 0 50px;
    margin-top: auto;
}

footer {
    position:relative;
    height: auto;
}
</style>
