{% load staticfiles %}
{% load static %}
<!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url "profile:index" %}">SI-RISET</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar3SupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-center" id="navbar3SupportedContent">
        <ul id="navbar-content" class="navbar-nav">
        </ul>
        <a style="font-size: 90%" class="ml-3 btn navbar-btn btn-primary" id="logout" href="{% url "login:logout" %}">Logout</a>
      </div>
    </div>
  </nav>

  <script>
  window.onload=function() {
      var role = "{{ request.session.role }}";

      if(!"{{ request.session.user_login}}") {
          $("#logout").hide();
          $("#navbar-content").hide();
      }

      if (role === "student") {
          $("#navbar-content").html(
              '<li class="nav-item px-3">'
                + '<a class="nav-link" href="{% url "profile:index" %}">Profile</a></li>'
              + '<li class="nav-item dropdown px-3">'
                + '<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Research&nbsp;</a>'
                + '<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">'
                  + '<a class="dropdown-item" href="{% url "apply-research:index" %}">Apply Research</a>'
                  + '<a class="dropdown-item" href="{% url "view-approved:index" %}">View Approved Research</a></div></li>'
              + '<li class="nav-item px-3">'
                + '<a class="nav-link" href="{% url "defense:index" %}">Defense</a></li>'
              + '<li class="nav-item px-3">'
                + '<a class="nav-link" href="{% url "scipaper:index" %}">Scientific Paper</a></li>'
          )
      } else if (role === 'supervisor' || role === 'head_study_program') {
          $("#navbar-content").html(
              '<li class="nav-item px-3">'
                + '<a class="nav-link" href="{% url "profile:index" %}">Profile</a></li>'
              + '<li class="nav-item dropdown px-3">'
                + '<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Research&nbsp;</a>'
                + '<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">'
                  + '<a class="dropdown-item" href="{% url "approve-research:index" %}">Research Application</a>'
                  + '<a class="dropdown-item" href="{% url "view-approved:index" %}">View Approved Research</a></div></li>'
          )
      } else if (role === 'research_manager') {
          $("#navbar-content").html(
              '<li class="nav-item px-3">'
                + '<a class="nav-link" href="{% url "profile:index" %}">Profile</a></li>'
              + '<li class="nav-item dropdown px-3">'
                + '<a class="nav-link" href="{% url "seminar:index" %}">Seminar Reboan</a></li>'
          )
      } else if (role === 'academic_administrator') {
          $("#navbar-content").html(
              '<li class="nav-item px-3">'
                + '<a class="nav-link" href="{% url "profile:index" %}">Profile</a></li>'
              + '<li class="nav-item dropdown px-3">'
                + '<a class="nav-link" href="{% url "defense-schedule:index" %}">Defense Schedule</a></li>'
          )
      }
  };

  </script>
