{% extends "layout/base.html" %}
{%block content%}

<div class="py-5 text-center bg-light bg-gradient filter-dark cover">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Helloo {{ name }}</h1>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12 p-4">
          <img class="img-fluid d-block rounded-circle mx-auto" src="https://www.standrewsepiscopalschool.com/wp-content/uploads/2010/12/SAES-Traditions-Icons-graduation.png">
          <p class="my-4">
          </p>
          <p>
            <h4>Username: {{ username }}</h4>
            <h4 id="identity_code">ID</h4>
            <h4 class="a" id="program_id">Program ID:</h4>
            <h4 class="b" id="status">Status:</h4>
            <h4 class="c" id="faculty_member_id">Faculty Member ID:</h4>
            <b>{{ email }}</b>
            <b>{{ phone }}</b>
            <br>Login as {{ role }}</p>
        </div>
      </div>
    </div>
  </div>
  <script>
    var role = "{{role}}";
    var identity_code = "{{identity_code}}";
    var program_id = "{{program_id}}";
    var status = "{{status}}";
    var faculty_member_id = "{{faculty_member_id}}";

    if (role == "student"){
      $(".a").show();
      $(".b").remove();
      $(".c").remove();
      document.getElementById("identity_code").innerHTML = "NPM: " + identity_code ;
      document.getElementById("program_id").innerHTML = "Program ID: " + program_id;

    } else if (role == "supervisor") {
      $(".a").hide();
      $(".b").hide();
      $(".c").hide();
      document.getElementById("identity_code").innerHTML = "Supervisor ID: " + identity_code;

    } else if (role == "research_manager") {
      $(".a").hide();
      $(".b").show();
      $(".c").hide();
      document.getElementById("identity_code").innerHTML = "Researcher ID: " + identity_code;
      document.getElementById("status").innerHTML = "Status: " + status;
    } else if (role == "academic_administrator") {
      $(".a").hide();
      $(".b").hide();
      $(".c").hide();
      $(".schedule").remove();
      document.getElementById("identity_code").innerHTML = "Admin ID: " + identity_code;

    } else if (role == "head_study_program") {
      $(".a").show();
      $(".b").show();
      $(".c").show();
      document.getElementById("identity_code").innerHTML = "Head ID: " + identity_code;
      document.getElementById("program_id").innerHTML = "Program ID: " + program_id;
      document.getElementById("status").innerHTML = "Status: " + status;
      document.getElementById("faculty_member_id").innerHTML = "Faculty Member ID: " + faculty_member_id;

    } else if (role == "defense_examiner"){
      $(".a").hide();
      $(".b").hide();
      $(".c").show();
      document.getElementById("identity_code").innerHTML = "Defense ID: " + identity_code;
      document.getElementById("faculty_member_id").innerHTML = "Faculty Member ID: " + faculty_member_id;
    }
  </script>
{% endblock %}
