{% extends "layout/base.html" %}

{% load staticfiles %}
{% load static %}

{%block content%}
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        </br>
          <p class="lead py-0">New Application</p>
        </div>
      </div>
    </div>
  </div>
  <div class="px-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead> </thead>
            <tbody>
              <tr>
                  <th>Student ID</th>
                  <th>Research Type</th>
                  <th>Topic</th>
                  <th>Motivation</th>
                  <th>Supervisor</th>
                  <th></th>
              </tr>
              {% for data in research %}
              <tr id="{{ data.research_id }}">
                  <td>{{ data.student_npm }}</td>
                  <td>{{ data.research_type_name }}</td>
                  <td>{{ data.topic }}</td>
                  <td>{{ data.motivation }}</td>
                  <td>{{ data.name }}</td>
                  <td class="d-flex justify-content-end">
                      <div class="supervisor"><button onClick=approve({{ data.research_id }}) style="font-size: 90%" class="btn btn-outline-primary">Approve</button></div>
                      <div class="head"><button onClick=approve({{ data.research_id }}) style="font-size: 90%" class="btn btn-outline-primary">Approve</button></div>
                      <div class="supervisor"><button onClick=reject({{ data.research_id }}) style="font-size: 90%; margin-left:10px" class="btn btn-outline-primary">Reject</button></div>
                      <div class="head"><button onClick=reject({{ data.research_id }}) style="font-size: 90%; margin-left:10px" class="btn btn-outline-primary">Reject</button></div>
                  </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<script>

// Show div html based on role
var role = "{{ request.session.role }}";
console.log(role)
if (role === "supervisor"){
    $("div.supervisor").show();
    $('td:nth-child(5),th:nth-child(5)').hide();
    console.log("super")
} else if (role === "head_study_program"){
    $("div.head").show();
}

var approve = function(id) {
    $.ajax({
        method: "POST",
        url: "{% url 'approve-research:approve' %}",
        data: {id: id},
        dataType: 'json',
        success : function (response) {
            console.log("ok");
            $('#' + response.id).remove();
        },
        error : function (error) {
            alert(error.responseText);
        }
    });
}

var reject = function(id) {
    $.ajax({
        method: "POST",
        url: "{% url 'approve-research:reject' %}",
        data: {id: id},
        dataType: 'json',
        success : function (response) {
            console.log("ok");
            $('#' + response.id).remove();
        },
        error : function (error) {
            alert(error.responseText);
        }
    });
}


</script>
{% endblock %}
