{% extends "layout/base.html" %}
{%block content%}
<div class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      </br>
        <p class="lead py-0">Propose Defense</p>
      </div>
    </div>
  </div>
</div>
<div class="px-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead> </thead>
          <tbody>
            <tr>
                <th>Research Type</th>
                <th>Topic</th>
                <th></th>
            </tr>
            {% for data in research %}
            <tr id="{{ data.research_id }}">
                <td>{{ data.research_type_name }}</td>
                <td>{{ data.topic }}</td>
                <td class="d-flex justify-content-end">
                    <div>
                      <button onClick=propose({{ data.research_id }}) style="font-size: 90%" class="btn btn-outline-primary">Propose</button>
                    </div>
                </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
var propose = function(id) {
  $.ajax({
      method: "POST",
      url: "{% url 'defense:propose' %}",
      data: {id: id},
      success : function (response) {
        $('#' + response.id).remove();
      }
  });
}
</script>
{% endblock %}
