{% extends "layout/base.html" %}
{%block content%}
<div class="py-3 filter-dark bg-gradient">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        </br>
          <p class="lead py-0">Schedule Defense</p>
        </div>
      </div>
    </div>
  </div>
  <div class="px-1 filter-dark bg-gradient">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead> </thead>
            <tbody>
              <tr>
                  <th>Defense ID</th>
                  <th>Research Type</th>
                  <th>Student NPM</th>
                  <th>Supervisor</th>
                  <th></th>
              </tr>
              {% for data in defense %}
              <tr id="{{ data.defense_id }}">
                  <td>{{ data.defense_id }}</td>
                  <td>{{ data.research_type_name }}</td>
                  <td>{{ data.student_npm }}</td>
                  <td>{{ data.name }}</td>
                  <td class="d-flex justify-content-end">
                      <div>
                        <button onclick="schedule({{data.defense_id}})" style="font-size: 90%" class="btn btn-outline-primary">Schedule</button>
                      </div>
                  </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script>
  var schedule = function(id) {
    $.ajax({
        method: "POST",
        url: "{% url 'defense-schedule:schedule' %}",
        data: {id: id},
        success : function (response) {
          window.location.href = response.redirect_url;
        }
    });
  }
  </script>

{% endblock %}
