{% extends "layout/base.html" %}
{%block content%}
<div class="py-3 filter-dark bg-gradient">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      </br>
        <p class="lead py-0">Schedule Defense</p>
      </div>
    </div>
  </div>
</div>
<div class="px-1 filter-dark bg-gradient">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <form id="schedule defense" action="{% url 'defense-schedule:apply-schedule' %}" style="margin-left:10px;" method="POST">{% csrf_token %}
          <div class="row">
              <div class="column">
              <h4>Research Type: {{ research_type_name }}</h4>
              </div>
          </div>
          <br/>
          <div class="row">
              <div class="column">
              <h4>Student ID: {{ student_npm }}</h4>
              </div>
          </div>
          <br/>
          <div class="row">
              <div class="column" ]accesskey="">
              <h4>Supervisor: {{ user_name }}</h4>
              </div>
          </div>
          <br/>
          <div class="row">
              <div class="column" ]accesskey="">
              <h4>Room:</h4>
              </div>
              <div class="column" style="margin-left:20px; margin-top:10px;">
                <label for="room"></label>
                <input id="room" name="room">
              </div>
          </div>
          <br/>
          <div class="row">
              <div class="column" ]accesskey="">
              <h4>Date:</h4>
              </div>
              <div class="column" style="margin-left:20px; margin-top:10px;">
                <label for="date"></label>
                <input type="date" id="date_" name="date_">
              </div>
          </div>
          <br/>
          <div class="row">
              <div class="column">
              <h4>Examiner</h4>
              </div>
              <div class="column" style="margin-left:20px; margin-top:10px;">
              <select id='examiner' name=examiner>
                  {% for data in examiner %}
                  <option value="{{ data.faculty_member_id }}">{{ data.name }}</option>
                  {% endfor %}
              </select>
              </div>
          </div><br><br>
          <button type="submit" class="btn btn-primary">Submit</button><br><br><br>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
