{% extends "layout/base.html" %}
{%block content%}
<div class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      </br>
        <p class="lead py-0">Apply Research</p>
      </div>
    </div>
  </div>
</div>
<div class="px-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <form id="apply-research" action="#" style="margin-left:10px;">{% csrf_token %}
          <div class="row">
              <div class="column">
              <h2>Research Type</h2>
              </div>
              <div class="column" style="margin-left:20px; margin-top:10px;">
              <select id="field_rt">
                  {% for data in research %}
                  <option value="{{ data.research_type_id }}">{{ data.research_type_name }}</option>
                  {% endfor %}
              </select>
              </div>
          </div>
          <br/>
          <div class="row">
              <div class="column">
              <h2>Topic</h2>
              </div>
              <div class="column" style="margin-left:20px; margin-top:10px;">
                  <input id="field_topic" type="text" name="topic">
              </div>
          </div>
          <br/>
          <div class="row">
              <div class="column" ]accesskey="">
              <h2>Motivation</h2>
              </div>
              <div class="column" style="margin-left:20px; margin-top:10px;">
                  <input id="field_motivation" type="text" name="motivation">
              </div>
          </div>
          <br/>
          <div class="row">
              <div class="column">
              <h2>Supervisor</h2>
              </div>
              <div class="column" style="margin-left:20px; margin-top:10px;">
              <select id="field_supervisor">
                  {% for data in supervisor %}
                  <option value="{{ data.supervisor_id }}">{{ data.name }}</option>
                  {% endfor %}
              </select>
              </div>
          </div><br><br>
          <button type="submit" class="button btn-success">Submit</button>
          </form>
      </div>
    </div>
  </div>
</div>
<script>

var applyResearch = function(research_type, topic, motivation, supervisor) {
    console.log("Here?")
    $.ajax({
        method: "POST",
        url: "{% url 'apply-research:apply' %}",
        data: {rt: research_type, topic: topic, motivation: motivation, supervisor: supervisor},
        success : function (response) {
            alert("Done!")
            window.location.href = response.redirect_url;
        },
        error : function (error) {
            alert(error.responseText);
        }
    });
};

$("#apply-research").on("submit", function (event) {
   rt = $("#field_rt").val()
   topic = $("#field_topic").val()
   motivation = $("#field_motivation").val()
   supervisor = $("#field_supervisor").val()
   console.log(rt)

   if(rt === "" || topic === "" || motivation === "" || supervisor === "") {
       alert("Field cannot be empty.");
       return false;
   }

   applyResearch(rt, topic, motivation, supervisor)
   event.preventDefault();
});

</script>

{% endblock %}
