{% extends "layout/base.html" %}
{%block content%}
<div class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      </br>
        <p class="lead py-0">Scientific Paper</p>
      </div>
    </div>
  </div>
</div>
<div class="px-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <form action="#"  style="margin-left:10px;">{% csrf_token %}
          <div class="row">
            <div class="column">
              <h2>Date</h2>
            </div>
            <div class="column" style="margin-left:20px; margin-top:10px;">
           	<input type="date" name="date" id="date" required="required"/>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="column">
              <h2>Research Title</h2>
            </div>
            <div class="column" style="margin-left:20px; margin-top:10px;">
           	<input type="text" name="topic">
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="column">
              <h2>Research Type</h2>
            </div>
            <div class="column" style="margin-left:20px; margin-top:10px;">
              <select>
                  {% for data in research %}
                  <option value="{{ data.research_type_id }}">{{ data.research_type_name }}</option>
                  {% endfor %}
          	</select>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="column">
              <h2>Upload File</h2>
            </div>
            <div class="column" style="margin-left:20px; margin-top:10px;">
              <p>Upload</p>
            </div>
        </div><br>
          <button type="submit" class="button btn-success">Submit</button>
          </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
