{% extends "layout/base.html" %}
{%block content%}
<div class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      </br>
        <p class="lead py-0">Seminar Reboan</p>
      </div>
    </div>
  </div>
</div>
<div class="px-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <form action="#"  style="margin-left:10px;">{% csrf_token %}
              <div class="row">
                  <div class="column">
                  <h2>Date</h2>
                  </div>
                  <div class="column" style="margin-left:20px; margin-top:10px;">
                      <input type="date" name="date" id="date" required="required"/>
                  </div>
              </div>
              <br/>
              <div class="row">
                  <div class="column">
                  <h2>Topic</h2>
                  </div>
                  <div class="column" style="margin-left:20px; margin-top:10px;">
                      <input type="text" name="topic">
                  </div>
              </div>
              <br/>
              <div class="row">
                  <div class="column">
                  <h2>Speaker</h2>
                  </div>
                  <div class="column" style="margin-left:20px; margin-top:10px;">
                      <input type="text" name="speaker">
                  </div>
              </div><br>
              <button type="submit" class="button btn-success">Add</button>

          </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
